# Root level
.DS_Store
*.log
.env
.env.*

# Next.js
haru-shop-next/node_modules
haru-shop-next/.next
haru-shop-next/out

# Spring / Gradle
haru-shop-spring/build
haru-shop-spring/.gradle
haru-shop-spring/out

# IDE
.idea
.vscode
*.iml
